<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title class="titulo-con-boton">
                <a mat-icon-button color="primary" routerLink="/bodegas">
                    <mat-icon>list</mat-icon>
                </a>
                <span>REGISTRO DE BODEGAS</span>
            </mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Datos Generales">

                <div class="bloque">
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="30" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                @if (!isEditMode){
                                <mat-label>Sucursal</mat-label>
                                }
                                <mat-select [formControl]="SelectSucursalControl" required>
                                    @for (obj_sucursal of list_sucursal; track obj_sucursal) {
                                    <mat-option [value]="obj_sucursal">{{obj_sucursal.nomSucursal}}</mat-option>
                                    }
                                </mat-select>
                                @if (SelectSucursalControl.hasError('required')) {
                                <mat-error>Debe seleccionar una empresa</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div fxFlex="30" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Codigo Bodega</mat-label>
                                <input matInput formControlName="codBodega">
                                <mat-error>Codigo requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="40" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Nombre Bodega</mat-label>
                                <input matInput formControlName="nomBodega">
                                <mat-error>Codigo requerido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="30" fxFlex.lt-md="100%">
                            <section class="example-section">
                                <mat-checkbox formControlName="bodegaPrincipal" color="primary">
                                    Bodega Principal
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="30" fxFlex.lt-md="100%">
                            <section class="example-section">
                                <mat-checkbox formControlName="manejaUbicaciones" color="primary">
                                    Maneja Ubicaciones
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="30" fxFlex.lt-md="100%">
                            <section class="example-section">
                                <mat-checkbox formControlName="activo" color="primary">
                                    Bodega Activa
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>

                </div>
            </mat-tab>

        </mat-tab-group>
        <br>

        <mat-card-actions class="mat-accion-botones">
            <button mat-raised-button color="primary" type="submit">Guardar</button>
            <br>
            <button mat-raised-button color="warn" type="button">Cancelar</button>
        </mat-card-actions>

    </mat-card>

</form>