<form [formGroup]="formulario" #formDirective="ngForm" (keydown.enter)="$event.preventDefault()"
    (ngSubmit)="enviarFormulario()">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title class="titulo-con-boton">
                <a mat-icon-button color="primary" routerLink="/compras">
                    <mat-icon>list</mat-icon>
                </a>
                <span>{{titulo_form}}</span>
                <span> - {{ objeto.fechaMod | date: 'dd/MM/yyyy HH:mm' }}</span>
                @if (isEditMode) {
                <button mat-icon-button color="primary" type="button" (click)="verHistorialAuditoria()"
                    title="Ver historial de auditoría">
                    <mat-icon>info</mat-icon>
                </button>
                }
            </mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start"
            [(selectedIndex)]="selectedTabIndex">

            <mat-tab label="Datos Generales" style="background-color: brown;">

                <div class="bloque">

                    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">

                        <div fxFlex="15">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Sucursal</mat-label>
                                <mat-select [formControl]="SelectSucursalControl" required>
                                    @for (obj_sucursal of list_sucursal; track obj_sucursal) {
                                    <mat-option [value]="obj_sucursal">{{obj_sucursal.nomSucursal}}</mat-option>
                                    }
                                </mat-select>
                                @if (SelectSucursalControl.hasError('required')) {
                                <mat-error>Debe seleccionar una sucursal</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div fxFlex="40">
                            <combo-proveedor formControlName="searchProveedor"
                                (proveedorSelecionado)="onProveedorChange($event)"></combo-proveedor>

                        </div>
                        <div fxFlex="15">
                            <mat-form-field class="form-field-compacto form-field-date" appearance="outline">
                                <mat-label>Fecha Compra</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy"
                                    formControlName="fecDoc">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        @if (isEditMode) {
                        <div fxFlex="15">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Numero Compra</mat-label>
                                <input matInput formControlName="nroDocum" readonly>
                            </mat-form-field>
                        </div>
                        }
                        <div [fxFlex]="isEditMode ? 15 : 30">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Status</mat-label>
                                <mat-select [formControl]="SelecStatusControl" required>
                                    @for (obj_tipo of list_status; track obj_tipo) {
                                    <mat-option [value]="obj_tipo">{{obj_tipo}}</mat-option>
                                    }
                                </mat-select>
                                @if (SelecStatusControl.hasError('required')) {
                                <mat-error>Debe seleccionar una opcion</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="container-tabla mat-elevation-z2">
                    <table mat-table [dataSource]="dataSource" formArrayName="detalles">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef>#</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                {{ i + 1 }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>Artículo</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <div class="celda-articulo-container">
                                    <articulo-autocomplet formControlName="search" [mostrarOpcionCrear]="!isReadOnly"
                                        (articuloSeleccionado)="onArticuloChange($event, i)"
                                        (crearNuevo)="ModalcrearCodigoBarra(i)">
                                    </articulo-autocomplet>

                                    @if (!isReadOnly) {
                                    <button mat-icon-button color="warn" type="button"
                                        (click)="eliminarLineaDetalles(i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                    }
                                </div>
                            </td>

                            <td mat-footer-cell *matFooterCellDef>TOTALES</td>
                        </ng-container>

                        <ng-container matColumnDef="Lote">
                            <th mat-header-cell *matHeaderCellDef>Lote</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                @if (row.get('manejaLote')?.value) {
                                <combo-lote [idArticulo]="row.get('idArticulo')?.value" [idLoteActual]="row.get('idLote')?.value"
                                    (loteSeleccionado)="onLoteChange($event, i)"></combo-lote>
                                <mat-error *ngIf="row.get('idLote')?.hasError('loteRequerido') && row.get('idLote')?.touched">
                                    Debe seleccionar un lote
                                </mat-error>
                                } @else {
                                <span>-</span>
                                }
                                <input type="hidden" formControlName="idLote">
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef>Stock</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('stock')?.value }}
                                </span>
                                <input type="hidden" formControlName="stock">
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="costoant">
                            <th mat-header-cell *matHeaderCellDef>Costo Ant.</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('costanterior')?.value }}
                                </span>
                                <input type="hidden" formControlName="costanterior">
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>


                        <ng-container matColumnDef="costo">
                            <th mat-header-cell *matHeaderCellDef class="text-right">Costo</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <input #inputCosto matInput formControlName="costoUnit" placeholder="Nombre"
                                    class="text-right" />


                                <mat-error *ngIf="row.get('costoUnit')?.hasError('required')">
                                    La cantidad es obligatoria.
                                </mat-error>
                                <mat-error *ngIf="row.get('costoUnit')?.hasError('min')">
                                    La cantidad debe ser mayor a 0.
                                </mat-error>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef class="text-right">Cantidad</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">

                                <input matInput formControlName="cantidad" placeholder="Nombre" class="text-right" />


                                <mat-error *ngIf="row.get('cantidad')?.hasError('required')">
                                    La cantidad es obligatoria.
                                </mat-error>
                                <mat-error *ngIf="row.get('cantidad')?.hasError('min')">
                                    La cantidad debe ser mayor a 0.
                                </mat-error>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                {{ totalCantidad | number}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="porc_dcto">
                            <th mat-header-cell *matHeaderCellDef>(%) Dcto</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i" style="width: 80px;">

                                <input matInput type="number" placeholder="0" class="text-right" formControlName="porc_dcto" />

                                <mat-error *ngIf="row.get('porc_dcto')?.hasError('min')" style="font-size: 10px;">
                                    Mín 0%
                                </mat-error>
                                <mat-error *ngIf="row.get('porc_dcto')?.hasError('max')" style="font-size: 10px;">
                                    Máx 100%
                                </mat-error>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="impuesto1">
                            <th mat-header-cell *matHeaderCellDef>Imp. (IVA)</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">

                                <select formControlName="objimpuesto1" class="input-tabla-select text-right"
                                    [compareWith]="compareImpuestos">
                                    @for (obj_impuesto of list_impuestos; track obj_impuesto) {
                                    <!--[ngValue] para que Angular trate el valor como un objeto y no como un string.-->
                                    <option [ngValue]="obj_impuesto">
                                        {{ obj_impuesto.descripcion }}
                                    </option>
                                    }
                                </select>

                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>



                        <ng-container matColumnDef="neto">
                            <th mat-header-cell *matHeaderCellDef>Neto</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('costoTotal')?.value }}
                                </span>
                                <input type="hidden" formControlName="costoTotal">
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                {{ totalNeto | currency }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="imp_dcto">
                            <th mat-header-cell *matHeaderCellDef>Dcto</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('imp_dcto')?.value }}
                                </span>
                                <input type="hidden" formControlName="imp_dcto">
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                {{ totalNeto | currency }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="imp1">
                            <th mat-header-cell *matHeaderCellDef>Valor IVA</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('valorImpuesto1')?.value }}
                                </span>
                                <input type="hidden" formControlName="valorImpuesto1">
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                {{ totalImpuesto1 | currency }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef>total</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('importeTotal')?.value }}
                                </span>
                                <input type="hidden" formControlName="importeTotal">
                            </td>
                            <td mat-footer-cell *matFooterCellDef>
                                {{ totalFinal | currency }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns ; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns ; sticky: true" class="footer-resaltado">
                        </tr>
                    </table>
                </div>
            </mat-tab>

            <mat-tab label="Recepcion y Totales" style="background-color: brown;">
                <div class="main-container">
                    <mat-card class="section facturacion">
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                                <div fxFlex="25">
                                    <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                        <mat-label>Bodega</mat-label>
                                        <mat-select [formControl]="SelectBodegasControl" required>

                                            @for (obj_bodega of list_bodegas; track obj_bodega) {
                                            <mat-option [value]="obj_bodega">{{obj_bodega.nomBodega}}</mat-option>
                                            }
                                        </mat-select>
                                        @if (SelectBodegasControl.hasError('required')) {
                                        <mat-error>Debe seleccionar una bodega</mat-error>
                                        }
                                    </mat-form-field>
                                </div>
                                <div fxFlex="25">
                                    <combo-estadostock [editMode]="isEditMode" [opcionview]="isReadOnly"
                                        [input_objeto]="objeto"
                                        (estadoSeleccionado)="recibirEstado($event)"></combo-estadostock>
                                </div>

                                <div fxFlex="50">
                                    <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                        <mat-label>Observacion*</mat-label>
                                        <input matInput placeholder="Observaciones" formControlName="observaciones">
                                        <mat-error>La observación es obligatoria</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                                <div fxFlex="25">
                                    <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                        <mat-label>Remito*</mat-label>
                                        <input matInput placeholder="Numero de Remito" formControlName="remito">
                                        <mat-error>El remito es obligatorio</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="75"></div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <div class="right-column">

                        <mat-card class="section totals-card">
                            <mat-card-header><mat-card-title>Totales</mat-card-title></mat-card-header>
                            <mat-card-content>
                                <div class="totals-grid">
                                    <div class="total-row">
                                        <span class="total-label">Neto:</span>
                                        <span class="total-value">{{ totalNeto | currency }}</span>
                                    </div>
                                    <div class="total-row">
                                        <span class="total-label">Impuesto IVA:</span>
                                        <span class="total-value">{{ totalImpuesto1 | currency }}</span>
                                    </div>
                                    <div class="grand-total">
                                        <span class="total-value">{{ totalFinal | currency }}</span>
                                    </div>
                                </div>

                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
        <br>

        <mat-card-actions class="mat-accion-botones">
            <button mat-raised-button color="primary" type="submit" *ngIf="!isReadOnly">Guardar</button>
            <br>
            <button mat-raised-button color="warn" type="button" routerLink="/compras">Cancelar</button>
        </mat-card-actions>

    </mat-card>

</form>