<main class="contenido">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title>COMPRA DIRECTA</mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>

        <mat-card-actions class="mat-accion">
            <button mat-raised-button color="primary" routerLink="/compras/new">Nuevo</button>
        </mat-card-actions>
        <mat-card-content class="mat-content">

        </mat-card-content>
    </mat-card>
</main>