<div class="contenedor-detalle-concepto mat-elevation-z1">
    @if (cargando) {
    <p class="mensaje-vacio">Cargando...</p>
    } @else if (lineas.length === 0) {
    <p class="mensaje-vacio">Sin movimientos para este concepto.</p>
    } @else {
    <table mat-table [dataSource]="lineas">

        <ng-container matColumnDef="factura">
            <th mat-header-cell *matHeaderCellDef>{{ etiquetaFactura }}</th>
            <td mat-cell *matCellDef="let linea">{{ linea.factura }}</td>
        </ng-container>

        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef>Hora</th>
            <td mat-cell *matCellDef="let linea">{{ formatearHora(linea.fecha) }}</td>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>{{ etiquetaCliente }}</th>
            <td mat-cell *matCellDef="let linea">{{ linea.cliente }}</td>
        </ng-container>

        <ng-container matColumnDef="importe">
            <th mat-header-cell *matHeaderCellDef class="text-right">Valor</th>
            <td mat-cell *matCellDef="let linea" class="text-right">
                {{ formatearMoneda(linea.importe) }}
                @if (esPagoParcial(linea)) {
                <span class="nota-pago-parcial">de {{ formatearMoneda(linea.importeTotalFactura) }}</span>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
            <td mat-cell *matCellDef="let linea" class="text-center">
                <button mat-icon-button type="button" (click)="verDetalleFactura(linea)" title="Ver artículos">
                    <mat-icon>description</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
</div>
