<div class="table-scroll-container">
    <div class="barra-acciones-tabla" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button matTooltip="Exportar a Excel" [disabled]="exportando || !datos.length" (click)="exportarExcel()" type="button">
            @if (exportando) {
            <mat-spinner diameter="20"></mat-spinner>
            } @else {
            <mat-icon>download</mat-icon>
            }
        </button>
        <button mat-icon-button matTooltip="Elegir columnas" [matMenuTriggerFor]="menuColumnas" type="button">
            <mat-icon>view_column</mat-icon>
        </button>
        <mat-menu #menuColumnas="matMenu">
            <div class="menu-columnas" (click)="$event.stopPropagation()">
                @for (col of columnasConfigurables; track col.clave) {
                <mat-checkbox [checked]="esVisible(col.clave)" (change)="toggleColumna(col.clave)">
                    {{ col.label }}
                </mat-checkbox>
                }
            </div>
        </mat-menu>
    </div>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>
        <ng-container matColumnDef="negocio">
            <th mat-header-cell *matHeaderCellDef>Negocio</th>
            <td mat-cell *matCellDef="let element">{{ element.negocio}}</td>
        </ng-container>
        <ng-container matColumnDef="bodega">
            <th mat-header-cell *matHeaderCellDef>Bodega</th>
            <td mat-cell *matCellDef="let element">{{ element.bodega}}</td>
        </ng-container>
        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.categoria}}</td>
        </ng-container>
        <ng-container matColumnDef="subcategoria">
            <th mat-header-cell *matHeaderCellDef>Sub Categoria</th>
            <td mat-cell *matCellDef="let element">{{ element.subcategoria}}</td>
        </ng-container>
        <ng-container matColumnDef="articulo">
            <th mat-header-cell *matHeaderCellDef>Articulo</th>
            <td mat-cell *matCellDef="let element">{{ element.codarticulo}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let element">{{ element.nomarticulo}}</td>
        </ng-container>
        <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef>Costo</th>
            <td mat-cell *matCellDef="let element">{{ element.costo | currency:'COP':'symbol-narrow':'1.2-2' }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button class="btn-sin-fondo" mat-icon-button matTooltip="Editar costo" (click)="ModalcrearCodigoBarra(i)" type="button">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="btn-sin-fondo" mat-icon-button matTooltip="Ver ajustes" (click)="abrirHistorial(i)" type="button">
                    <mat-icon>history</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="totalRegistros" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="cambioPagina($event)" showFirstLastButtons></mat-paginator>

</div>
