:host {
  display: block;
  background-color: #e2e2e2;
  padding: 8px;
}

.table-scroll-container {
    max-height: 450px;
    overflow-y: auto;
    display: block;
    margin-bottom: 10px;
}

.data-table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f5f5f5;
}
