<main class="contenido">
  <mat-card appearance="raised" class="monitor-card">

    <mat-card-header class="mat-header">
      <mat-card-title>MONITOR DE TESORERIA</mat-card-title>

      <span class="spacer"></span>
      <mat-form-field appearance="outline" class="select-inline">
        <mat-label>Tipo de Informe</mat-label>
        <mat-select [(value)]="reporteSeleccionado">
          <mat-option value="movimientos">💰 Movimientos y Saldo</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>

    <div class="divider"></div>
    <mat-card-content class="mat-content">
      <div class="kpi-grid">
        @for (kpi of kpisData; track kpi.titulo) {
        <kpitesoreria [titulo]="kpi.titulo" [valor]="kpi.valor" [icono]="kpi.icono" [color]="kpi.color"></kpitesoreria>
        }
      </div>

      @if (reporteSeleccionado === 'movimientos') {
      <filtrosmovimientos [obj_filtros]="obj_filtros" (alConsultar)="consultarMovimientos($event)"></filtrosmovimientos>
      <vista-movimientos [datos]="lista_movimientos" [totalRegistros]="totalRegistros" [pageSize]="pageSize"
        [filtrosActuales]="filtrosActuales" (paginacion)="paginacionMovimientos($event)"></vista-movimientos>
      }
    </mat-card-content>
  </mat-card>
</main>
