<main class="contenido">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title>GESTION DE BODEGAS</mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>

        <mat-card-actions class="mat-accion">
            <button mat-raised-button color="primary" routerLink="/bodegas/new">Nuevo</button>
        </mat-card-actions>
        <mat-card-content class="mat-content">

            <div class="table-scroll-container">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef>Codigo</th>
                        <td mat-cell *matCellDef="let element">{{ element.codBodega}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">{{ element.nomBodega }}</td>
                    </ng-container>
                    <ng-container matColumnDef="bprincipal">
                        <th mat-header-cell *matHeaderCellDef>Bod. Principal</th>
                        <td mat-cell *matCellDef="let element">{{ element.bodegaPrincipal }}</td>
                    </ng-container>
                    <ng-container matColumnDef="activo">
                        <th mat-header-cell *matHeaderCellDef>Estado</th>
                        <td mat-cell *matCellDef="let element">{{ element.activo }}</td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef>Ult. Modificacion</th>
                        <td mat-cell *matCellDef="let element">{{ element.fechaMod }}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="editarBodega(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['codigo', 'nombre','bprincipal','activo','fecha', 'actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['codigo', 'nombre','bprincipal','activo','fecha', 'actions'];"></tr>
                </table>
            </div>
            <mat-paginator [length]="totalRegistros" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="paginaActual" (page)="cambiarPagina($event)" showFirstLastButtons></mat-paginator>


        </mat-card-content>
    </mat-card>
</main>