<form [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="enviarFormulario()">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title class="titulo-con-boton">
                <div class="titulo-izquierda">
                    <button mat-icon-button color="primary" type="button" (click)="volver()">
                        <mat-icon>list</mat-icon>
                    </button>
                    <span>{{titulo_form}}</span>
                </div>
                @if (isEditMode) {
                <button mat-icon-button color="primary" type="button" (click)="verHistorialAuditoria()"
                    title="Ver historial de auditoría">
                    <mat-icon>info</mat-icon>
                </button>
                }
            </mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>

        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Datos Generales">
                <div class="bloque">
                    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                        <div fxFlex="40">
                            <combo-persona formControlName="searchPersona" [mostrarOpcionCrear]="true"
                                (personaSelecionado)="onPersonaChange($event)"
                                (crearNuevo)="habilitarNuevaPersona($event)"></combo-persona>
                        </div>
                    </div>

                    <app-persona [group]="personaGroup" [disabled]="personaSubformDeshabilitado"
                        (personaChange)="onPersonaSubformChange($event)"></app-persona>
                    <br />

                    <div class="bloque_interno">
                        <h4>Datos de acceso</h4>
                        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                            <div fxFlex="25">
                                <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput formControlName="usuario" [readonly]="isReadOnly">
                                    <mat-error>Usuario requerido</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="25">
                                <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                    <mat-label>{{ isEditMode ? 'Nueva clave (opcional)' : 'Clave' }}</mat-label>
                                    <input matInput type="password" formControlName="clave" [readonly]="isReadOnly"
                                        autocomplete="new-password">
                                    <mat-error>Clave requerida</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nomUsuario" [readonly]="isReadOnly">
                                    <mat-error>Nombre requerido</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="15">
                                <section class="example-section">
                                    <mat-checkbox formControlName="activo" color="primary">
                                        Activo
                                    </mat-checkbox>
                                </section>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="bloque_interno">
                        <h4>Rol / Sucursal</h4>
                        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                            <div fxFlex="50">
                                <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                    <mat-label>Rol</mat-label>
                                    <mat-select formControlName="idRol">
                                        @for (rol of list_roles; track rol.idRol) {
                                        <mat-option [value]="rol.idRol">{{ rol.nombre }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>Rol requerido</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50">
                                <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                    <mat-label>Sucursal</mat-label>
                                    <mat-select formControlName="sucursales" multiple>
                                        @for (sucursal of list_sucursales; track sucursal.id) {
                                        <mat-option [value]="sucursal.id">{{ sucursal.nomSucursal }}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>Sucursal requerida</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

            </mat-tab>

        </mat-tab-group>
        <br>

        <mat-card-actions class="mat-accion-botones">
            <button mat-raised-button color="primary" type="submit" *ngIf="!isReadOnly">Guardar</button>
            <br>
            <button mat-raised-button color="warn" type="button" *ngIf="!isReadOnly"
                (click)="volver()">Cancelar</button>
        </mat-card-actions>

    </mat-card>

</form>
