<div class="bloque" [formGroup]="group">

  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" class="tipo-persona-row">
    <span class="tipo-persona-label">Tipo de Persona</span>
    <mat-radio-group aria-label="Tipo de Persona" color="primary" [value]="esJuridica ? 'juridica' : 'natural'"
      (change)="elegirTipoPersona($event.value)">
      <mat-radio-button value="natural">Natural</mat-radio-button>
      <mat-radio-button value="juridica">Juridica</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">

    <div fxFlex="10">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Tipo</mat-label>

        <mat-select [formControl]="SelecTiposControl" required>
          @for (obj_tipo of list_tipos; track obj_tipo) {
          <mat-option [value]="obj_tipo">{{obj_tipo.codigoTipoDocumento}}</mat-option>
          }

        </mat-select>

        @if (SelecTiposControl.hasError('required')) {
        <mat-error>Debe seleccionar una empresa</mat-error>
        }
      </mat-form-field>
    </div>

    <div fxFlex="20">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Numero.</mat-label>
        <input matInput formControlName="codigoTitular" (blur)="onBlurNumero()">
        @if (permitirBusquedaPersona) {
        <button mat-icon-button matSuffix type="button" (click)="buscarPersona.emit()"
          matTooltip="Buscar persona existente">
          <mat-icon>search</mat-icon>
        </button>
        }
        <mat-error>Codigo requerido</mat-error>
      </mat-form-field>
    </div>

    <div [fxFlex]="esJuridica ? 70 : 35">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>{{etiquetaNombre}}</mat-label>
        <input matInput formControlName="nombres">
        <mat-error>Campo requerido</mat-error>
      </mat-form-field>
    </div>

    @if (!esJuridica) {
    <div fxFlex="35">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellidos">
        <mat-error>Codigo requerido</mat-error>
      </mat-form-field>
    </div>
    }

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">

    @if (!esJuridica) {
    <div fxFlex="10">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select [formControl]="SelecSexoControl" required>
          @for (obj_tipo of list_sexos; track obj_tipo) {
          <mat-option [value]="obj_tipo">{{obj_tipo}}</mat-option>
          }
        </mat-select>
        @if (SelecSexoControl.hasError('required')) {
        <mat-error>Debe seleccionar una opcion</mat-error>
        }
      </mat-form-field>
    </div>
    }

    <div [fxFlex]="esJuridica ? 22 : 20">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="direccion">
        <mat-error>Codigo requerido</mat-error>
      </mat-form-field>
    </div>

    <div [fxFlex]="esJuridica ? 28 : 25">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="telefono">
        <mat-error>Codigo requerido</mat-error>
      </mat-form-field>
    </div>

    <div [fxFlex]="esJuridica ? 28 : 25">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Mail</mat-label>
        <input matInput formControlName="email">
        <mat-error>Codigo requerido</mat-error>
      </mat-form-field>
    </div>

    <div [fxFlex]="esJuridica ? 22 : 20">
      <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
        <mat-label>Ciudad</mat-label>
        <mat-select [formControl]="SelecCiudadControl" required>
          @for (obj_ciudad of list_ciudades; track obj_ciudad) {
          <mat-option [value]="obj_ciudad">{{obj_ciudad.nomCiudad}}</mat-option>
          }
        </mat-select>
        @if (SelecCiudadControl.hasError('required')) {
        <mat-error>Debe seleccionar una empresa</mat-error>
        }
      </mat-form-field>
    </div>

  </div>

</div>
