<form [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="enviarFormulario()">
   
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title>TRASLADO ENTRE BODEGAS</mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Datos Generales">

                <div class="bloque">
                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="15" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto form-field-date" appearance="outline">
                                <mat-label>Fecha Movimiento</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy"
                                    formControlName="fechaMovimiento">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxFlex="15" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>No. Transaccion</mat-label>
                                <input matInput formControlName="nroDocum">
                                <mat-error>Codigo requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="70" fxFlex.lt-md="100%">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="observacion">
                                <mat-error>Codigo requerido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch"
                        fxLayoutGap="10px">
                        <div fxFlex="25" fxFlex.lt-md="100%">
                            <combo-bodega [editMode]="isEditMode" [input_objeto]="objeto"
                                (bodegaSeleccionada)="recibirBodegaOrigen($event)"></combo-bodega>
                        </div>
                        <div fxFlex="25" fxFlex.lt-md="100%">
                            <combo-estadostock [editMode]="isEditMode" [input_objeto]="objeto"
                                (estadoSeleccionado)="recibirEstadoOrigen($event)"></combo-estadostock>
                        </div>
                        <div fxFlex="25" fxFlex.lt-md="100%">
                            <combo-bodega [editMode]="isEditMode" [input_objeto]="objeto"
                                (bodegaSeleccionada)="recibirBodegaDestino($event)"></combo-bodega>
                        </div>
                        <div fxFlex="25" fxFlex.lt-md="100%">
                            <combo-estadostock [editMode]="isEditMode" [input_objeto]="objeto"
                                (estadoSeleccionado)="recibirEstadoDestino($event)"></combo-estadostock>
                        </div>
                    </div>


                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla-compacta"
                        formArrayName="detalles">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>Artículo</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i"
                                class="celda-articulo">
                                <articulo-autocomplet formControlName="search"
                                    (articuloSeleccionado)="onArticuloChange($any($event), i)"></articulo-autocomplet>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ubicacion">
                            <th mat-header-cell *matHeaderCellDef>Ubicacion</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('idUbicacion')?.value }}
                                </span>
                                <input type="hidden" formControlName="idUbicacion">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="Lote">
                            <th mat-header-cell *matHeaderCellDef>Lote</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('idLote')?.value }}
                                </span>
                                <input type="hidden" formControlName="idLote">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef>Stock</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <span>
                                    {{ row.get('cantDisp')?.value }}
                                </span>
                                <input type="hidden" formControlName="cantDisp">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                            <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
                                <input matInput formControlName="cantidad" placeholder="Nombre" />
                                <mat-error *ngIf="row.get('cantidad')?.hasError('required')">
                                    La cantidad es obligatoria.
                                </mat-error>
                                <mat-error *ngIf="row.get('cantidad')?.hasError('min')">
                                    La cantidad debe ser mayor a 0.
                                </mat-error>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let row; let i = index">
                                <button mat-icon-button color="primary" type="button">
                                    <mat-icon>remove</mat-icon>
                                </button>

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-tab>

        </mat-tab-group>
        <br>

        <mat-card-actions class="mat-accion-botones">
            <button mat-raised-button color="primary" type="submit">Guardar</button>
            <br>
            <button mat-raised-button color="warn" type="button">Salir</button>
        </mat-card-actions>

    </mat-card>

</form>