:host {
  // 1. Fondo gris fuera de la tarjeta
  display: block;
  background-color: #e2e2e2;

  // 2. Padding de 8px en todos los ángulos
  padding: 8px;

}

.bloque {
  border: 1px solid #ccc; // gris claro
  border-radius: 8px; // opcional: bordes redondeados
  padding: 16px 16px 0px 16px;
}

.full-width_lista {
  width: 100%;
  height: 30px;
}