<form [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="enviarFormulario()">
    <mat-card appearance="raised">
        <mat-card-header class="mat-header">
            <mat-card-title class="titulo-con-boton">
                <div class="titulo-izquierda">
                    <button mat-icon-button color="primary" type="button" (click)="volver()">
                        <mat-icon>list</mat-icon>
                    </button>
                    <span>{{titulo_form}}</span>
                </div>
                @if (isEditMode) {
                <button mat-icon-button color="primary" type="button" (click)="verHistorialAuditoria()"
                    title="Ver historial de auditoría">
                    <mat-icon>info</mat-icon>
                </button>
                }
            </mat-card-title>
        </mat-card-header>
        <div style="height: 1px; background-color: rgb(201, 199, 199); margin: 1px 0;"></div>
        <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start">

            <mat-tab label="Datos Generales" style="background-color: brown;">
                <div class="bloque">
                    <div class="titulo-con-boton">
                        <h4>Informacion del Proveedor</h4>
                        @if (estadoPersona === 'existente' && !isEditMode && !isReadOnly) {
                        <button mat-button color="primary" type="button" (click)="cambiarPersona()">
                            <mat-icon>close</mat-icon> Cambiar persona
                        </button>
                        }
                    </div>
                    @if (estadoPersona === 'existente' && !isEditMode && !isReadOnly) {
                    <p class="nota-persona-existente">
                        Estos datos pertenecen a una persona ya registrada (puede estar vinculada a otro
                        cliente, proveedor o usuario) - para corregirlos, guarda primero y luego edita el
                        proveedor.
                    </p>
                    }

                    <app-persona [group]="personaGroup" [disabled]="personaSubformDeshabilitado"
                        [permitirBusquedaPersona]="!isEditMode && estadoPersona !== 'existente'"
                        (personaChange)="onPersonaSubformChange($event)"
                        (buscarPersona)="abrirModalPersona()"
                        (personaEncontradaPorDocumento)="onPersonaEncontrada($event)"></app-persona>

                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                        <div fxFlex="30">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Regimen</mat-label>
                                <mat-select formControlName="regimen">
                                    <mat-option value="Regimen Ordinario">Regimen Ordinario</mat-option>
                                    <mat-option value="Regimen Simple">Regimen Simple</mat-option>
                                </mat-select>
                                <mat-error>Debe seleccionar un regimen</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="18">
                            <section class="example-section">
                                <mat-checkbox formControlName="activo" color="primary">
                                    Activo
                                </mat-checkbox>
                            </section>
                        </div>
                        <div fxFlex="22">
                            <section class="example-section">
                                <mat-checkbox formControlName="responsableIva" color="primary">
                                    Responsable IVA
                                </mat-checkbox>
                            </section>
                        </div>
                        <div fxFlex="30"></div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5px">
                        <div fxFlex="100">
                            <mat-form-field class="form-field-compacto mat-form-field" appearance="outline">
                                <mat-label>Observaciones</mat-label>
                                <input matInput formControlName="observacion" [readonly]="isReadOnly">
                            </mat-form-field>
                        </div>
                    </div>
                    <br />
                </div>

            </mat-tab>

        </mat-tab-group>
        <br>

        <mat-card-actions class="mat-accion-botones">
            <button mat-raised-button color="primary" type="submit" *ngIf="!isReadOnly">Guardar</button>
            <br>
            <button mat-raised-button color="warn" type="button" *ngIf="!isReadOnly"
                (click)="volver()">Cancelar</button>
        </mat-card-actions>

    </mat-card>

</form>