<mat-toolbar color="primary" class="navbar">
    <span>DATA</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>perm_identity</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Perfil</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configuración</span>
        </button>
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
   
  </mat-toolbar>