<input #inputInterno matInput type="text" placeholder="Código o Nombre" [formControl]="searchControl" [matAutocomplete]="autoArticulo"
    [matAutocompleteDisabled]="searchControl.disabled" 
    class="input-tabla">

<mat-autocomplete #autoArticulo="matAutocomplete" [displayWith]="mascaraSalida" (optionSelected)="onSelected($event)">

    @for (item of filteredOptions(); track item.idArticulo) {
    <mat-option [value]="item">
        {{ item.codArticulo }} - <small>{{ item.nomArticulo }}</small>
    </mat-option>
    }

    @if (mostrarOpcionCrear && filteredOptions().length === 0) {
    <!--<mat-option (click)="crearNuevo.emit(searchControl.value)">
        Crear Articulo
    </mat-option>-->
    <mat-option (click)="crearNuevo.emit(searchControl.value)">
        Referenciar Articulo
    </mat-option>
    }
</mat-autocomplete>